@{
    ViewData["Title"] = "资产类别修改";

    var ty_names = (List<string>)ViewData["ty_names"];
    List<string> kz_ = new List<string>();
    List<string> zy_ = new List<string>();
}
<div style="width: 975px;height: 500px;margin-left: 70px;margin-right: 70px;background: rgba(255, 255, 255, 0.65);border: solid 3px;border-color: #0aafb7;overflow-y:auto; overflow-x:auto;">
    <div id="classify">
        <label>类别选择:</label>
        <form action="/ZC_Type/addZCTYPE_OK" method="post">
            <ul>
                <li>
                    <div>
                        <label style="margin-left:10px;">请选择门类：</label>
                        <select name="Kindda" id="Kindda" style="margin-left:5px;" v-on:change="Kinddachange">
                            <option v-for="value in classify" v-bind:value="value.Kindda">
                                {{ value.Kindda }}
                            </option>
                        </select>
                        <label style="margin-left:10px;">请选择大类：</label>
                        <select name="One_Class" id="One_Class" style="margin-left:5px;" v-on:change="One_Classchange">
                            <option>
                                -- 大类 --
                            </option>
                        </select>
                    </div>
                </li>
            </ul>
            <hr />
            <div>
                <label>通用元属性:</label>
                <ul style="padding-left:10px" id="tongyong">
                    @foreach (var ty in ty_names)
                    {
                        <li style="display:inline">
                            <label style="padding-right:10px;width:180px"> @ty</label>
                        </li>
                    }
                </ul>
                <hr />
            </div>
            <div>
                <label>专用元属性:</label>
                <ul style="padding-left:10px" id="zhuanyong"></ul>
                <hr />
            </div>
            <div>
                <label>预定义扩展元属性:</label>
                <ul style="padding-left:10px" id="kz_ydy"></ul>
                <hr />
            </div>
            <div>
                <label>扩展属性:</label>
                <label style="font-size:smaller;">单击按钮添加属性</label>
                <input type="button" value="添加" onclick="kuozhan_add()" disabled="disabled" id="kz_button" />
                <ul id="kuozhan"></ul>
                <hr />
            </div>
            <div>
                <label>删除属性:</label>
                <label style="font-size:smaller;">单击按钮删除属性</label>
                <input type="button" value="删除" onclick="shanchu_add()" disabled="disabled" id="sc_button" />
                <ul id="shanchu"></ul>
                <hr />
            </div>
            <div>
                <input type="button" style="float:right;margin-right:25px" value="取消" />
                <input type="submit" style="float:right;margin-right:25px" value="提交" />
                <hr style="display:inline" />
            </div>
        </form>
    </div>
</div>
<div style="display:none">
    <select id="kz">
    </select>
</div>
<script type="text/javascript">
    var kz_sum = 0;
    var sc_sum = 0;
    function kuozhan_add() {
        kz_sum++;
        var ul = document.getElementById("kuozhan");

        var li = document.createElement("li");
        var label1 = document.createElement("label");
        var select = document.createElement("select");

        li.style = "display: inline-block;margin-left:50px";

        label1.innerHTML = "请选择属性名称";
        label1.style = "margin-left:20px";
        select.style = "margin-left:20px";

        select.name = "kz_key_" + kz_sum.toString();
        var sl = document.getElementById("kz");
        var a = sl.getElementsByTagName("option");
        for (var i = 0; i < a.length; i++) {
            var option = document.createElement("option");
            option.innerHTML = a[i].innerHTML;
            select.appendChild(option);
        }

        li.appendChild(label1);
        li.appendChild(select);
        ul.appendChild(li);
    }
    function shanchu_add() {
        sc_sum++;
        var ul = document.getElementById("shanchu");

        var li = document.createElement("li");
        var label1 = document.createElement("label");
        var select = document.createElement("select");
        li.style = "display: inline-block;margin-left:50px";
        for (i = 0; i < kz_.length; i++) {
            select.options.add(new Option(kz_[i]));
        }
        for (i = 0; i < zy_.length; i++) {
            select.options.add(new Option(zy_[i]));
        }
        label1.innerHTML = "请选择属性名称";
        label1.style = "margin-left:20px";
        select.style = "margin-left:20px";

        select.name = "sc_key_" + sc_sum.toString();

        li.appendChild(label1);
        li.appendChild(select);
        ul.appendChild(li);
    }
</script>
<script>
    var vue = new Vue({
        el: '#classify',
        data: {
            classify: [
                {
                    Kindda: "-- 门类 --",
                },
                {
                    Kindda: "工程建筑",
                },
                {
                    Kindda: "设备装备",
                },
                {
                    Kindda: "图书档案",
                },
                {
                    Kindda: "知识产权",
                },
                {
                    Kindda: "自然资源",
                },
                {
                    Kindda: "权益许可",
                },
                {
                    Kindda: "材料用品",
                },
                {
                    Kindda: "数据信息",
                },
                {
                    Kindda: "金融款项",
                }
            ],
            type: ""
        },
        methods: {
            Kinddachange: function () {
                document.getElementById("One_Class").innerText = "";
                document.getElementById("One_Class").options.add(new Option("-- 大类 --"));
                if (document.getElementById("Kindda").selectedIndex != 0)
                {
                    $.ajax({
                        url: "/API_/Get_Two_Type",
                        type: "get",
                        data: { "type": this.classify[document.getElementById("Kindda").selectedIndex].Kindda },
                        success: function (data) {
                             for (i = 0; i < data.length; i++) {
                                document.getElementById("One_Class").options.add(new Option(data[i]));
                            }
                            document.getElementById("One_Class").options.add(new Option("不选择--"));
                        }
                    })
                }
            },
            One_Classchange: function () {
                document.getElementById("kz").innerHTML = "";
                document.getElementById("zhuanyong").innerText = "";
                document.getElementById("kuozhan").innerText = "";
                document.getElementById("shanchu").innerText = "";
                document.getElementById("kz_ydy").innerText = "";
                if (document.getElementById("One_Class").value == "-- 大类 --")
                {
                    document.getElementById("kz_button").disabled = "disabled";
                    document.getElementById("sc_button").disabled = "disabled";
                    return;
                }
                else if (document.getElementById("One_Class").value == "不选择--")
                    this.type = document.getElementById("Kindda").value;
                else
                    this.type = document.getElementById("One_Class").value;
                document.getElementById("kz_button").disabled = false;
                document.getElementById("sc_button").disabled = false;
                $.ajax({
                    url: "/API_/Get_Type",
                    type: "get",
                    data: { "type": this.type },
                    success: function (data) {
                        zy_ = data[0];
                        kz_ = data[1];
                        var zy = document.getElementById("zhuanyong");
                        for (i = 0; i < data[0].length; i++) {
                            var ele = document.createElement("li");
                            ele.style = "display:inline";
                            var lab = document.createElement("label");
                            lab.style = "padding-right:10px;width:180px";
                            lab.innerText = data[0][i];
                            ele.append(lab);
                            zy.append(ele);
                        }
                        var kz = document.getElementById("kz_ydy");
                        for (i = 0; i < data[1].length; i++) {
                            var ele = document.createElement("li");
                            ele.style = "display:inline";
                            var lab = document.createElement("label");
                            lab.style = "padding-right:10px;width:180px";
                            lab.innerText = data[1][i];
                            ele.append(lab);
                            kz.append(ele);
                        }
                    }
                });
                var name = this.classify[document.getElementById("Kindda").selectedIndex].Kindda + "专用集";
                $.ajax({
                    url: "/API_/Get_YSXS_Name",
                    type: "get",
                    data: {
                        "WD": "资产类别维度",
                        "Name": name
                    },
                    success: function (data) {
                        for (var key in data) {
                            document.getElementById("kz").options.add(new Option(data[key].toString()));
                        }
                    }
                });
                name = document.getElementById("One_Class").value + "扩展集";
                if (document.getElementById("One_Class").value != "不选择--") {
                    $.ajax({
                        url: "/API_/Get_YSXS_Name",
                        type: "get",
                        data: {
                            "WD": "资产类别维度",
                            "Name": name
                        },
                        success: function (data) {
                            for (i = 0; i < data.length; i++) {
                                document.getElementById("kz").options.add(new Option(data[i].toString()));
                            }
                        }
                    });
                }
            }
        }
    })
</script>