@{
    ViewData["Title"] = "Home Page";
}

<div style="width: 975px;height: 500px;margin-left: 70px;margin-right: 70px;background: rgba(255, 255, 255, 0.65);white-space:nowrap;border: solid 3px;border-color: #0aafb7;overflow-y:auto;overflow-x:auto;">
    <div>
        <h2 align="center">资产信息</h2>
        <hr />
        <div>
            <h3>说明</h3>
            <p>本程序仅做测试用途</p>
            <p>本程序不对需要输入的字段值进行限制，请在输入时注意字段值的输入格式</p>
        </div>
    </div>
</div>